@import "../../fuzzy-guacamole-theme.scss";

div {
  height: calc(#{$header-height} / 2);
  padding: 1rem;
  padding-left: 20vw;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $primary-color;
  user-select: none;
  border-bottom: 4px solid $accent-color;

  h1 {
    color: $text-color;
    margin: 0;
    text-align: center;
  }
}
