@import "../../fuzzy-guacamole-theme.scss";

div {
  height: calc(#{$header-height} / 2);
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  h1 {
    color: $text;
    margin: 0;
    text-align: center;
  }
}
