@import "../fuzzy-guacamole-theme.scss";

main {
  height: 100vh;

  h2 {
    height: calc(#{$header-height} / 2);
    padding: 1rem;
    margin: 0;
    width: calc(100% - 2rem);
    background-color: $primary-color;
    border-bottom: 4px solid $accent-color;
    display: flex;
    align-items: center;
  }

  section.container {
    height: calc(100vh - 7rem);
    overflow-y: scroll;
    display: flex;

    section.recipes-container {
      flex-grow: 1;
    }

    section.widgets-container {
      position: fixed;
      right: calc(1rem + 10px);
      top: 8rem;

      @media only screen and (max-width: 680px) {
        display: none;
      }
    }
  }
}
