<form [formGroup]="recipeForm" (ngSubmit)="create()">
  <div>
    <label for="name">Name:</label>
    <input formControlName="nameControl" name="name">
  </div>
  <div>
    <label for="description">Description:</label>
    <input formControlName="descriptionControl" name="description">
  </div>
  <div>
    <label for="creationDate">Creation Date:</label>
    <input formControlName="creationDateControl" name="creationDate">
  </div>
  <div>
    <label for="numberOfIngredients">Number Of Ingredients:</label>
    <input formControlName="numberOfIngredientsControl" name="numberOfIngredients">
  </div>
  <div>
    <label for="instructions">Instructions:</label>
    <input formControlName="instructionsControl" name="instructions">
  </div>
  <div>
    <label for="timeToPrep">Time To Prep:</label>
    <input formControlName="timeToPrepControl" name="timeToPrep">
  </div>
  <div>
    <label for="timeToCook">Time To Cook:</label>
    <input formControlName="timeToCookControl" name="timeToCook">
  </div>
  <div>
    <label for="numberOfLikes">Number Of Likes:</label>
    <input formControlName="numberOfLikesControl" name="numberOfLikes">
  </div>
  <div>
    <label for="numberOfComments">Number Of Comments:</label>
    <input formControlName="numberOfCommentsControl" name="numberOfComments">
  </div>

  <input type="submit" value="Submit">
</form>


<table>
  <thead>
    <th>id</th>
    <th>recipeNumber</th>
    <th>creationDate</th>
    <th>effectiveDate</th>
    <th>expireDate</th>
    <th>paymentOption</th>
    <th>recipeAmount</th>
    <th>extraInfo</th>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes">
      <td>{{recipe.id}}</td>
      <td>{{recipe.recipeNumber}}</td>
      <td>{{recipe.creationDate}}</td>
      <td>{{recipe.effectiveDate}}</td>
      <td>{{recipe.expireDate}}</td>
      <td>{{recipe.paymentOption}}</td>
      <td>{{recipe.recipeAmount}}</td>
      <td>{{recipe.extraInfo}}</td>
      <td>
        <button (click)="delete(recipe.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>