<div>
  <nav>
    <ul>
      <li matRipple (click)="close()" [routerLink]="'/'">Home Feed</li>
      <li matRipple (click)="open()" [routerLink]="'/explore'">Explore</li>
      <li matRipple (click)="open()" [routerLink]="'/favorites'">Favorites</li>
      <li matRipple (click)="open()" [routerLink]="'/quick-add'">Quick Add</li>
    </ul>
  </nav>

  <nav>
    <ul>
      <li matRipple (click)="open()" [routerLink]="'/notifications'">Notifications</li>
      <li matRipple (click)="open()" [routerLink]="'/dashboard'">Dashboard</li>
    </ul>
  </nav>
</div>