@import "../../fuzzy-guacamole-theme.scss";

div {
  height: calc(100% - (#{$header-height} / 2) - 16px - 16px - 4px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary-color;

  nav {
    user-select: none;

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        padding: 1rem;
        border-top: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        font-size: 1.15rem;
        cursor: pointer;
        list-style: none;
        color: $text-color;
        width: 100%;
        box-sizing: border-box;
        outline: none;

        div {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          span {
            display: flex;
            align-items: center;
          }

          mat-icon {
            margin-left: 0.5rem;
            padding: 0 1rem;
            border-radius: 4px;
          }
        }

        &:hover {
          background-color: lighten($color: $primary-color, $amount: 10);
          border-top: 1px solid $text-color;
          border-bottom: 1px solid $text-color;

          div {
            background-color: lighten($color: $primary-color, $amount: 10);

            mat-icon {
              color: lighten($color: $text-color, $amount: 10);
            }
          }
        }
      }
    }
  }
}
