@import "../../fuzzy-guacamole-theme.scss";

div {
  height: calc(100% - (#{$header-height} / 2) - 16px - 16px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  nav {
    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        padding: 1rem;
        cursor: pointer;
        list-style: none;
        color: $text;
        width: 100%;
        text-align: center;
        outline: none;

        &:hover {
          background-color: lighten($color: $primary, $amount: 10);
        }
      }
    }
  }
}
