@import "../../fuzzy-guacamole-theme.scss";

div {
  height: calc(100% - (#{$header-height} / 2) - 16px - 16px - 4px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary-color;

  nav {
    user-select: none;

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        padding: 1rem 1rem 1rem 0;
        border-top: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        cursor: pointer;
        list-style: none;
        color: $text-color;
        width: 100%;
        text-align: right;
        box-sizing: border-box;
        outline: none;

        &:hover {
          background-color: lighten($color: $primary-color, $amount: 10);
          border-top: 1px solid $text-color;
          border-bottom: 1px solid $text-color;
        }
      }
    }
  }
}
