@import "../../../fuzzy-guacamole-theme.scss";

div {
  border-radius: 16px 0 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  color: $text-color;
  box-shadow: 0px -4px 4px 4px $text-color;

  h1 {
    margin: 0;
    padding: 2rem;
  }

  button {
    margin: 1rem;
  }
}
