@import "./fuzzy-guacamole-theme.scss";

section {
  display: flex;
  background-color: $background-color;

  header {
    box-shadow: -4px 0px 4px 4px $text-color;
    margin-right: 4px;
  }

  .fuzzy-guacamole-main {
    height: 100vh;
    width: 100%;

    mat-sidenav {
      margin: 5rem;
      margin-right: 0;
      border-radius: 16px 0 0 16px;
      min-width: 75%;
      max-width: 75%;

      @media screen and (orientation: portrait) {
        // TODO
      }

      @media screen and (orientation: landscape) {
        // TODO
      }

      aside {
        height: 100%;
        background-color: $background-color;
      }
    }
  }
}
