@import "./fuzzy-guacamole-theme.scss";

section {
  display: flex;

  header {
    min-width: $header-height;
    box-shadow: 2px 2px 2px black;
  }

  .fuzzy-guacamole-main {
    height: 100vh;
    width: 100%;

    mat-sidenav {
      margin: 5rem;
      margin-right: 0;
      border-radius: 15px 0 0 15px;
      min-width: 66%;
      max-width: 66%;

      aside {
        padding: 2.5rem;
      }
    }
  }
}
