@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@angular/material/theming";

@include mat-core();

$fuzzy-guacamole-primary: mat-palette($mat-indigo);
$fuzzy-guacamole-accent: mat-palette($mat-blue, A200, A100, A400);
$fuzzy-guacamole-theme: mat-light-theme(
  (
    color: (
      primary: $fuzzy-guacamole-primary,
      accent: $fuzzy-guacamole-accent,
    ),
  )
);

@include angular-material-theme($fuzzy-guacamole-theme);

$fuzzy-guacamole-dark-primary: mat-palette($mat-blue-grey);
$fuzzy-guacamole-dark-accent: mat-palette($mat-amber, A200, A100, A400);
$fuzzy-guacamole-dark-warn: mat-palette($mat-deep-orange);
$fuzzy-guacamole-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $fuzzy-guacamole-dark-primary,
      accent: $fuzzy-guacamole-dark-accent,
      warn: $fuzzy-guacamole-dark-warn,
    ),
  )
);

.fuzzy-guacamole-dark-theme {
  @include angular-material-color($fuzzy-guacamole-dark-theme);
}

$primary: #00293c;
$secondary: #1e656d;
$accent: #f62a00;
$text: #f1f3c3;

$header-height: 150px;

body {
  margin: 0;
  padding: 0;
  background-color: $primary;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
a:visited,
a:active,
ul,
li,
span {
  font-family: "Open Sans", sans-serif;
}

table,
thead,
th,
tr,
td {
  color: $text;
}

label {
  color: $text;
}
