@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";

@include mat-core();

/*********************************************************************************************************
light theme
*********************************************************************************************************/

$fuzzy-guacamole-light-primary: mat-palette($mat-light-green, A200, A100, A400);
$fuzzy-guacamole-light-accent: mat-palette($mat-brown, 300, 400, 500);
$fuzzy-guacamole-light-warn: mat-palette($mat-red, 400);
$fuzzy-guacamole-light-text: mat-palette($mat-brown, 900);
$fuzzy-guacamole-light-background: mat-palette($mat-light-green, 50);
$fuzzy-guacamole-light-container: mat-palette($mat-deep-orange);

$fuzzy-guacamole-light-theme: mat-light-theme(
  (
    color: (
      primary: $fuzzy-guacamole-light-primary,
      accent: $fuzzy-guacamole-light-accent,
      warn: $fuzzy-guacamole-light-warn,
      text: $fuzzy-guacamole-light-text,
      background: $fuzzy-guacamole-light-background,
      container: $fuzzy-guacamole-light-container,
    ),
  )
);

@include angular-material-theme($fuzzy-guacamole-light-theme);

$primary-color: mat-color($fuzzy-guacamole-light-primary);
$accent-color: mat-color($fuzzy-guacamole-light-accent);
$warn-color: mat-color($fuzzy-guacamole-light-warn);
$text-color: mat-color($fuzzy-guacamole-light-text);
$background-color: mat-color($fuzzy-guacamole-light-background);
$container-color: mat-color($fuzzy-guacamole-light-container);

/*********************************************************************************************************
dark theme
*********************************************************************************************************/

$fuzzy-guacamole-dark-primary: mat-palette($mat-blue-grey);
$fuzzy-guacamole-dark-accent: mat-palette($mat-amber, A200, A100, A400);
$fuzzy-guacamole-dark-warn: mat-palette($mat-deep-orange);
$fuzzy-guacamole-dark-text: mat-palette($mat-deep-orange);
$fuzzy-guacamole-dark-background: mat-palette($mat-deep-orange);
$fuzzy-guacamole-dark-container: mat-palette($mat-deep-orange);

$fuzzy-guacamole-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $fuzzy-guacamole-dark-primary,
      accent: $fuzzy-guacamole-dark-accent,
      warn: $fuzzy-guacamole-dark-warn,
      text: $fuzzy-guacamole-dark-text,
      background: $fuzzy-guacamole-dark-background,
      container: $fuzzy-guacamole-dark-container,
    ),
  )
);

.fuzzy-guacamole-dark-theme {
  @include angular-material-color($fuzzy-guacamole-dark-theme);

  $primary-color: mat-color($fuzzy-guacamole-dark-primary);
  $accent-color: mat-color($fuzzy-guacamole-dark-accent);
  $warn-color: mat-color($fuzzy-guacamole-dark-warn);
  $text-color: mat-color($fuzzy-guacamole-dark-text);
  $background-color: mat-color($fuzzy-guacamole-dark-background);
  $container-color: mat-color($fuzzy-guacamole-dark-container);
}

/*********************************************************************************************************
theme variables - spacing
*********************************************************************************************************/

// container
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;

// header (nav)
$header-height: 150px;

/*********************************************************************************************************
global styles
*********************************************************************************************************/

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
a:visited,
a:active,
ul,
li,
span {
  font-family: "Open Sans", sans-serif;
}

table,
thead,
th,
tr,
td {
  color: $text-color;
}

label {
  color: $text-color;
}

/*********************************************************************************************************
scrollbar styles
*********************************************************************************************************/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: lighten($color: $accent-color, $amount: 25);
}

::-webkit-scrollbar-thumb {
  background: $accent-color;
}

::-webkit-scrollbar-thumb:hover {
  background: darken($color: $accent-color, $amount: 25);
}
