@import "./fuzzy-guacamole-theme.scss";

section {
  display: flex;

  header {
    min-width: $header-height;
  }

  .fuzzy-guacamole-main {
    height: 100vh;
    width: 100%;

    mat-sidenav {
      margin: 5rem;
      margin-right: 0;
      border-radius: 16px 0 0 16px;
      min-width: 75%;
      max-width: 75%;

      @media screen and (orientation: portrait) {
      }

      @media screen and (orientation: landscape) {
        // border-radius: 16px;
        // margin-right: 5rem;
      }

      aside {
        height: 100%;
        background-color: $background-color;
      }
    }
  }
}
