@import "../../../fuzzy-guacamole-theme.scss";

main {
  height: auto;
  margin: 0;
  padding: 2rem;
  display: flex;
}

section {
  &.new-recipe {
    border: 8px solid $primary-color;
    padding: 2rem;
    flex-grow: 2;
  }

  &.recipe-form {
    padding: 2rem 0 2rem 2rem;
    flex-grow: 3;
  }
  &.publish-actions {
    padding: 2rem;
    button {
      margin-right: 1rem;
    }
  }
}

h3.form-section {
  padding: 1rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}

section.recipe-form {
  form.recipe-name-form {
    display: flex;
    flex-direction: column;
  }
  form.recipe-ingredients-form {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      justify-content: center;
      mat-form-field.number {
        padding-right: 1rem;
        max-width: 5rem;
      }
      mat-form-field.ingredient {
        flex-grow: 1;
      }
    }
  }
}
